<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @recorded_time.number %>
</p>

<%= link_to 'Edit', edit_recorded_time_path(@recorded_time) %> |
<%= link_to 'Back', recorded_times_path %>
